:root{
    --max-width-full:max-width;
    --max-width-contenedor:1920px;
    --ffamily-titulo-principal: 'Playfair Display', sans-serif;
    --ffamily-primaria:'Roboto', sans-serif;
    --border: #ffd700;
    --background:#141414;
    --color-principal:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

/* Parte Superior */

.imagen-superior-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-superior{
    width: 100%;
    height: 250px; 
    object-fit: cover;
    object-position: 50% 50%;/
}

nav{
    max-width:100%;
    background: var(--background);
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0.75em 1em 0.15em 1em;
}

.nav-enlaces {
    font-family: var(--ffamily-primaria);
    font-weight: 300;
    font-size: 1.2em;
    color: white;
    margin-left: 0.5em;
}

.nav-enlaces li{
    list-style: none;
    position: relative;
    padding-bottom: 0.5em;
}

.enlace a{
    color: white;
}

.enlace a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--border);
    transition: .3s;
}

.enlace a:hover::after{
    width: 100%;
}

nav ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 1.5em;
}

.logo{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 40px;
}

.socials-box{
   display: flex;
   align-items: center;
   gap: 15px;
   margin: 0 1em 0.35em 0;
}

.icono-social{
    width: 1.5em;
    opacity: .7;
    transition: .3s;
}

.icono-social:hover{
    opacity: 0.9;
}

span{
    display: block;
    margin: 1em;
    padding-left: 0.25em;
    color: var(--color-principal);
    font-family: var(--ffamily-titulo-principal);
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
    border-left: 0.1em solid var(--border);
}


/* Footer */

footer{
   color: rgb(255, 255, 255);
   width: 100%;
   background: var(--background);
   padding: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;
   
} 

footer p{
    font-family: var(--ffamily-primaria);
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 0em) {
    .enlace a::after{
        visibility:hidden;
    }
    
    .nav-enlaces {
        font-family: var(--ffamily-primaria);
        font-weight: 300;
        font-size: 1em;
        color: white;
        margin-left: 0.5em;
    }

    span{
        display: block;
        margin: 1em;
        padding-left: 0.25em;
        color: var(--color-principal);
        font-family: var(--ffamily-titulo-principal);
        font-weight: 700;
        font-size: 2em;
        text-transform: uppercase;
        border-left: 0.1em solid var(--border);
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    .nav-enlaces {
        font-family: var(--ffamily-primaria);
        font-weight: 300;
        font-size: 1.1em;
        color: white;
        margin-left: 0.5em;
    }

    span{
        display: block;
        margin: 1em;
        padding-left: 0.25em;
        color: var(--color-principal);
        font-family: var(--ffamily-titulo-principal);
        font-weight: 700;
        font-size: 3em;
        text-transform: uppercase;
        border-left: 0.1em solid var(--border);
    }

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    span{
        display: block;
        margin: 1em;
        padding-left: 0.25em;
        color: var(--color-principal);
        font-family: var(--ffamily-titulo-principal);
        font-weight: 700;
        font-size: 4em;
        text-transform: uppercase;
        border-left: 0.1em solid var(--border);
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    .enlace a::after{
        visibility: initial;
    }
}
